OPENAI_API_TYPE=
OPENAI_API_VERSION=
OPENAI_API_BASE=
OPENAI_API_KEY=

SERPAPI_API_KEY=

OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=

MESSAGING_HOST=
MESSAGING_USER=
MESSAGING_PASSWORD=
MESSAGING_RETRY_COUNT=
MESSAGING_RETRY_INTERVAL=
MESSAGING_APPLICATION_ID=
MESSAGING_APPLICATION_VERSION=

SOLACE_QUEUE_RECOMMENDATION_ENGINE_LLM=
SOLACE_QUEUE_DECISION_TREE=
SOLACE_QUEUE_INVESTMENT_SNAPSHOT=
SOLACE_QUEUE_WIN_PLACE_ODDS=
SOLACE_QUEUE_QUINELLA_WIN_CI=
SOLACE_QUEUE_ROADMAP=
SOLACE_QUEUE_RESULT=
SOLACE_QUEUE_WIN_PLACE_CI=
SOLACE_QUEUE_POOL_RATIO=
SOLACE_QUEUE_EXPECTED_WIN=
SOLACE_QUEUE_SPEED_PRO=
SOLACE_QUEUE_COLD_DOOR=
SOLACE_QUEUE_LOSS_DETAIL=

SOLACE_TOPIC_RECOMMENDATION_ENGINE_LLM=

CACHE_EXPIRATION_TIME=
UTILS_LOG_LEVEL=
UTILS_EVENT_LOG_LEVEL=
PRODUCTION=

REDIS_MAX_CONNECTION=
REDIS_HOST=
REDIS_DB=
REDIS_PASSWORD=
REDIS_APPLICATION_ID=
REDIS_CLUSTER_MODE=

COSMOSDB_ENDPOINT=
COSMOSDB_KEY=
COSMOSDB_DATABASE=


AZURE_SEARCH_API_VERSION=
AZURE_OPENAI_API_VERSION=
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_TYPE=

RACE_CARD_BASE_URL=
DECISION_TREE_SERVICE_API=
ROADMAP_SCORE_URL=
RACE_CARD_BASE_URL=
LLM_SERVICE_API=
